// 滚动条样式
@mixin scrollBarStyle($color: #aaaaaa) {
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $color;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        background-color: #00000000;
        border-radius: 10px;
        opacity: 0;
    }
}

// 消息提示框样式
.el-message {
    width: fit-content;
    min-width: 100px;
    padding: 5px 10px;

    .el-message__content {
        font-size: 12px;
    }
}

// 下拉菜单的条目 使icon和文字部分能够水平对齐
.el-dropdown-menu__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .txt {
        font-size: 12px;
    }
}